<h3><a href="/admin/addOrEditStudent" class="btn btn-secondary"><i class="fa fa-plus"></i>create new</a>{{viewTitle}}</h3>
<table class="table table-responsive table-stripes">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Number</th> 
            <th>Username</th>
            <th>Address</th>
            <th>Edit/Delete</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.dob}}</td>
                <td>{{this.email}}</td>
                <td>{{this.number}}</td>
                <td>{{this.username}}</td>
                <td>{{this.address}}</td>
                <td>
                    <a href="/admin/addOrEditStudent/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    <a href="/admin/student/delete/{{this._id}}" onclick="return confirm('are you sure you want to delete this record');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>